{% extends 'base.html' %}

{% block title %}
    Welcome focus!
{% endblock %}

{% block content %}
    <div class="content mt-5">
        <div class="row-12">
            <div class="col-6 mb-5">
                <div class="card text-center border-primary">
                <div class="card-header">
                </div>
                    <div class="card-body">
                        <p class="card-text">?כמה יש לי עכשיו</p>
                        <a href="{% url 'current' %}" class="btn btn-primary">לחץ כאן בכדי לראות את הסכום הקיים ברשותך</a>
                    </div>
                    <div class="card-footer text-muted">
                    </div>
                </div>
            </div>
            <div class="col-6 mb-5">
                <div class="card text-center border-primary">
                <div class="card-header">
                </div>
                    <div class="card-body">
                        <p class="card-text">?מה בא לי לקנות</p>
                        <a href="{% url 'expanses' %}" class="btn btn-primary">לחץ כאן בכדי לתכנן את ההוצאות הבאות</a>
                    </div>
                    <div class="card-footer text-muted">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
